:root {
  --black: #000;
  --white: #fff;
  --grey: #f4f4f4;
  --text: #666;
  --blue: rgb(23, 101, 119);
  --pad: 1rem;
  --pad-lg: 2rem;
  --ff-serif: 'Libre Baskerville', serif;
  --ff-sans: 'Raleway', sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 85.5%;
}

body {
  font-family: var(--ff-sans);
  font-size: 1em;
  line-height: 1.5;
  height: 100vh;
}

a {
  color: var(--black);
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 1rem;
  position: fixed;
  width: 100%;
  height: 4em;
  background-color: var(--white);
  margin-bottom: var(--pad-lg);
  top: 0;
  transition: 250ms;
}

.sticky {
  background: rgba(255,255,255,0.9);
  box-shadow: 6px 6px 20px rgba(0,0,0,0.123);
  backdrop-filter: blur(20px);
}

.logo {
  text-decoration: none;
  text-transform: uppercase;
  color: var(--grey);
  font-size: 1.7rem;
  font-weight: 700;
  padding: 0.5em 0;
  transition: 250ms
}

nav {
  position: absolute;
  top: 3em;
  left: 0;
  width: 100%;
  height: 50vh;
  background: var(--white);
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  animation: menu_animation 500ms ease-in-out;
}

nav a {
  margin-bottom: 1rem;
  padding: 0.5em;
  color: var(--black);
  text-transform: uppercase;
  font-weight: 500;
  text-decoration: none;
  transition: 250ms;
  font-size: var(--pad-lg);
}

nav a:hover {
  color: var(--blue);
}

.hamburger-on, .hamburger-off {
  background: transparent url(./assets/icons/hamburger.svg) center center no-repeat;
  width: 32px;
  height: 32px;
  background-size: contain;
  cursor: pointer;
  transition: 250ms ease-in-out;
}

.hamburger-off {
  background: transparent url(./assets/icons/close.svg) 100% 50% no-repeat; 
}

.show-nav {
  display: flex;
}

@keyframes menu_animation {
  from{
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

main {
  position: absolute;
  top: 4em; 
  z-index: -1;
}

.featured {
  width: 100%;
  padding: var(--pad);
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.featured h2 {
  line-height: 1.2;
}

.featured p {
  margin-bottom: 1em;
}

.card {
  width: 100%;
  margin: var(--pad-lg) 0;
}

.btn {
  padding: 0.5em 1em;
  border: 0 none;
}

/* Footer */
footer {
  width: 100%;
  height: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: red;

}

footer p {
  color: red;
}

/*Typography */
h1, h2, h3, h4, h5, h6 {
  font-family: var(--ff-serif);
  margin-bottom: 0;
}

h1 {
  font-size: 2.5rem;
  color: var(--blue);
}

.h1 {
  padding-top: var(--pad-lg);
  border-bottom: 1px solid #ff5b40;
  width: 50px;
  margin-bottom:  var(--pad-lg)
}

h2 {
  margin-bottom: 0.5rem;
}

h1:after {
  background-color: pink;
  width: 40px;
  height: 1px;
}

@media screen and (min-width: 700px) {
  nav {
    flex-direction: row;
    position: unset;
    width: auto;
    height: auto;
    background-color: var(--white);
  }
  .hamburger-on {
    display: none;
  }
  .menu {
    display: block;
  }
  nav a {
    margin-bottom: 0;
    margin-left: var(--pad);
    font-size: var(--pad);
  }
  .card {
    width: 70%;
  }
}